/** 
****************************
BOOK PAGES
****************************
*/
.book-banners {
    font-size: 14pt;
    margin: 0;
    padding: 0;
    width: 100%;
}

.book-banner-section {
    display: inline-block;
    width: 100%;
}

.book-banner-section-alternate {
    background-color: #e8e8e8;
}

.book-banner-section-alternate .book {
    flex-direction: row-reverse;
}

.book-banner-section-alternate .book .book-image{
    text-align: right;
}

#book-list-container {
    padding-bottom: 20px;
    max-width: 1200px;
    margin: auto;
}

.book {
    display: flex;
    margin: auto;
    max-width: 1000px;
    padding: 40px 20px;
}

.book-details {
    width: 70%;
}

.book-image {
    width: 30%;
}

.book-image img {
    width: 90%;
    height: auto;
    box-shadow: 0 8px 20px rgb(0 0 0 / 40%);
}

.book-image-noshadow img{
    box-shadow: unset;
}

.book-details-title {
    font-size: 24pt;
}

.book-details-subtitle {
    font-size: 12pt;
    text-transform: uppercase;
}

.book-details-tagline {
    font-size: 12pt;
    font-style: italic;
    padding: 20px 0 ;
    font-weight: bold;
    color: purple;
}

.book-details-shortblurb{
    line-height: 1.5;
}

.bookSellerButton {
    width: 80px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 40%);
    border-radius: 10px;
    border: 1px solid #000000 !important;
    padding: 5px 10px !important;
    margin-right: 8px !important;
    background-color: white;    
}


.bookSellerButton + .bookSellerButton {
    margin-right: 10px;
}

.myStoreButton {
    width: 250px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 40%);
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 10px;
    margin: 30px 0px;
    background-color: #278d27;
    color: white;
    text-align: center;
}

.myStoreButton a {
    color: white !important;
    font-size: 14pt;
    font-family: "Open Sans", Arial, sans-serif;
    text-decoration: none;
}

.all-books {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.book-thumbnail {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    padding: 15px;
}

.book-thumbnail img {
    width: 100%;
    max-width: 175px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 40%);
}

#all-books-footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 60px;
}


@media (max-width:700px) {
    .book {
        display: inline-block;
    }
    .book-image, .book-details {
        width: 100%;
    }

    .book-image, .book-banner-section-alternate .book .book-image {
        text-align: center;
    }

    .book-image img {
        width: 60%;
    }

    .myStoreButton {
        margin: auto;
        margin-top: 30px;
    }

    .book-links {
        text-align: center
    }

    .book-details-title {
        padding-top: 30px;
    }

    .book-thumbnail {
        max-width: 150px;
        padding: 10px;
    }
}

.personal-message {
    margin: auto;
    display: block;
    font-family: "Dancing Script";
    font-size: 24pt;
    text-align: center;
    padding: 20px 0;
    width: 90%;
}

.cozy-message {
    margin: auto;
    display: block;
    font-family: "Comic Neue";
    font-size: 16pt;
    text-align: center;
    padding: 20px;
    max-width: 500px;
}

@media screen and (max-width: 575px) {
   .personal-message {
        font-size: 18pt;
    }

}